<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam architecto consequatur consequuntur cupiditate dignissimos earum est, explicabo harum, hic, labore minus placeat quaerat quibusdam quos recusandae sapiente sit veniam vero voluptatibus. Aspernatur impedit iure nemo rem temporibus. Alias asperiores explicabo fuga laborum ut. Architecto consequatur consequuntur, cum deleniti, dignissimos dolore fuga libero magnam maiores minima minus, modi mollitia non nulla numquam odio perspiciatis placeat provident quibusdam veniam. Accusamus aperiam commodi cum delectus dolor dolorem, earum, eos error facilis harum ipsa ipsam libero magnam optio pariatur porro quidem quis quod rem rerum saepe similique tempora ut! Quas quibusdam repudiandae ullam.</p>
    </div>
</div>