<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <img src="https://iatax-dev.web.app/static/media/iatax.6c340e9d.jpeg" alt="logo" class="logo mx-auto d-block m-4">
                <div class="card-body">
                    <form action="/users/signing" method="POST">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>